h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weigth: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg)
}

h4 {
    font-family: Helvetica;
    font-weight: bold;
}

p {
    font-family: Helvetica;
    
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weigth: bold;
    color: white;
    background-color:mediumspringgreen;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weigth: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weigth: bold;
    color: white;
    background-color: skyblue;
}

.price {
    font-family: Helvetica;
    font-weigth: bolder;
    color: blue;
}